@import '../../../styles/index.scss';

.container {
  @include main-container;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-top: 2.5rem;

  @media (min-width: 1200px) {
    width: calc(70% - 2rem);
  }
}

.flexbox {
  display: flex;
  justify-content: space-between;

  img {
    cursor: pointer;

  }

}

.techList{
  background-color: map-get($map: $color-gray, $key: 3) ;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
