//Primary Pallete
$color-primary: #FF577F;
$color-primary-focus: #FF427F;
$color-primary-negative: #59323F;
//Grey Scale Palette
$color-gray: (
        0: #F8F9FA, 
        1: #868E96, 
        2: #343B41, 
        3: #212529, 
        4: #121214
    );
//Feedback Palette
$color-sucess: #3FE864;
$color-negative: #E83F5B;