.Toastify__toast{
    background: #343B41;
    color: #F8F9FA;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1.5rem;

}

.Toastify__toast--error {
    &.Toastify__progress-bar {
        background: $color-error;
    }
  }

.Toastify__toast--success {
    &.Toastify__progress-bar {
        background: #3FE864;;
    }
}