@import  './colors.scss';

.Toastify__toast {
    /* Estilo dos toasts individuais */
    background: #343B41;
    color: #F8F9FA;
}
.Toastify__progress-bar {
    background: #E83F5B; /* Substitua pela cor desejada */
}