@import '../../../styles/index.scss';

$padding: 1.4rem;

.modalOverlay {
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;

  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .3);
}

.modalBox {
  position: relative;
  width: 100%;
  max-width: 400px;
  background-color: map-get($map: $color-gray, $key: 3);
}

.modalHeader {
  background-color: map-get($map: $color-gray, $key: 2);
  padding: $padding;

}

.modalBody {
  padding: $padding;
}


.closerButton {
  position: absolute;
  top: $padding;
  right: $padding;
  cursor: pointer;
  color: map-get($map: $color-gray, $key: 1);
}
